body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a{
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

address {
    font-style: normal;
}

img {display: block;}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}


.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section {
 padding: 120px 0 120px;
}

.wrapper {
  max-width: 1440px;  
  margin: 0 auto;    
}


/*header*/

.page-header {
border-bottom: 1px solid #e7e9fc;
box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
display: flex;  
align-items: center;
}

.header-nav{
display: flex;
align-items: center;
}

.nav-list {
display: flex;
align-items: center;
gap: 40px;
}

.contacts-list {
display: flex;
align-items: center;
gap: 40px;
}

.logo {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}

.header-logo {
padding: 24px 0;
margin-right: 76px;
}

.header-logo .logo-part {
color: #2e2f42;
}

.nav-link {
padding: 24px 0;
display: block;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;
}
.nav-link.current {
position: relative; 
}


.nav-link.current::after {
content: '';  
position: absolute;
left: 0;
width: 100%;
height: 4px;
bottom: -1px;
border-radius: 2px;
background-color: #404bbf;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current 
{
color: #404bbf;

}

.contacts {
font-style: normal;
margin-left: auto;
}

.contacts-link {
padding: 24px 0;
display: block;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.nav-link .contacts-link {
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


/*main секція 1*/

.main-title {
/*background-color: rgba(46, 47, 66, 0.7);*/
padding: 188px 0;
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                  url(../images/people-office.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
max-width: 1440px;
margin: 0 auto;
  }

.main-text {
font-weight: 700;
font-size: 56px;
line-height: 1.07;
letter-spacing: 0.02em;
color: #fff;
margin: 0 auto 48px auto; 
max-width: 496px;
text-align: center;

}

.main-btn {
display: block;
margin: 0 auto;
background-color: #4d5ae5;
color: #fff;
font-family: "Roboto", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
cursor: pointer;
min-width: 169px;
height: 56px;

border-radius:4px;
padding: 16px 32px;
border: none;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-btn:hover, 
.main-btn:focus {
background: #404bbf;
}

.nav-link,
.contacts-link {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*info секція 2*/


.info-title{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42; 
margin-bottom: 8px;  
}

.info-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.info-list {
display: flex;
gap: 24px;
}

.info-item {
flex-basis: calc((100% - 72px) / 4);
  
}

.icon-box {
display: flex;
justify-content: center;
align-items: center;
width: 264px;
height: 112px;
margin-bottom: 8px;
background-color: #f4f4fd;

border: 1px solid #8e8f99;
border-radius: 4px;

}

/* hero секція 3*/

.page-team {
background: #f4f4fd;
}

.page-team .team-title {
    margin-bottom: 72px;
}

.team-content {
 padding: 32px 0;
  text-align: center;
}

.team-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 48px;
}

.team-item {
background: #fff; 
border-radius: 0 0 4px 4px;
box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.08),
              0px 1px 1px rgba(0, 0, 0, 0.16),
              0px 1px 6px rgba(0, 0, 0, 0.08);
text-align: center;
flex-basis: calc((100% - 72px) / 4);
}

.team-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.team-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
margin-bottom: 0;

}

.team-list {
display: flex;
gap: 24px;
}

.social-links {
display: flex;
justify-content: center;
gap: 24px;
padding: 0;
margin: 0;
list-style: none;
}

.icon-social {
display: flex;
align-items: center;
justify-content: center;
gap: 24px;
margin-top: 8px;
}

.social-link {
display: flex;
align-items: center;
justify-content: center;
width: 40px;
height: 40px;
background-color: #4d5ae5; 
border-radius: 50%;        
transition: background-color 0.3s ease;
}
.social-icon {
 fill: #fff;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf; 
}

/* Our Portfolio секція 4*/

.portfolio-item {
background-color: #fff;
flex-basis: calc((100% - 72px) / 6);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
/*overflow: hidden;*/
}

.portfolio-item:first-child {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list li:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.portfolio-content {
padding: 32px 16px;
border: 1px solid #e7e9fc;
border-top: none;
}

.portfolio-title {
font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;
text-transform: capitalize;
margin-bottom: 72px;
}

.portfolio-name {
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.portfolio-text {
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.portfolio-list {
display: flex;
gap: 24px;
flex-wrap: wrap;
row-gap: 48px;
}


.portfolio-wrapper {
   position: relative; 
   overflow: hidden;
   }

.overlay {
position: absolute;
top: 0;
left: 0;
transform: translateY(100%);
width: 100%;
height: 100%;
padding: 40px 32px 164px 32px;
display: flex;
align-items: center;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd; 
background-color: #4d5ae5;
padding: 40px 32px;
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
              0px 1px 1px rgba(46, 47, 66, 0.16), 
              0px 2px 1px rgba(46, 47, 66, 0.08);  
}

.portfolio-item:hover .overlay {
transform: translateY(0);
}

/* footer*/

.page-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 120px;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 264px;
}

.footer-link {
  display: inline-block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.footer-link .logo-part {
  color: #f4f4fd;
}

.footer-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-social {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-social-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-social .social-links {
  display: flex;
  gap: 16px;
}

.social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms ease;
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #31d0aa;
}